{% extends "components/main_template.html" %}

{% block content %}
    <!-- Hero -->
    <div class="hero--image hero--image--about">
      <div class="content">
        <div class="section section--title">
          <h1 class="h1 h1--title">About</h1>
        </div>
      </div>
    </div>

    <div class="content">
      <article class="section section--article">
        <h4 class="h4">Hi, my name is Michael</h4>

        <p>This is my side project &mdash; interviewing Christians who are leaders in the business world. These are people who work for themselves or own small businesses, but most importantly, they love the Lord.</p>

        <p>I talk to them about what they do, and dig deep to understand how their faith motivates them and radically changes how they approach their work.</p>

        <h4 class="h4">Why am I doing this?</h4>
        <p>I want to encourage Christians who are faithfully serving the Lord in the marketplace. The conversation around how faith and business can come together to serve God's kingdom isn't one that often comes up, and I want to help push that conversation forward.</p>

        <p>My desire is that through these interviews you will find ideas, inspiration, and encouragement.</p>

        <h4 class="h4">Contact me</h4>
        <p>Send me an email and let me know how I can make Marketplace Disciples better.</p>
        <p>You can contact me at: <a class="link" href="mailto:michael@marketplacedisciples.com">michael@marketplacedisciples.com</a></p>
      </article>

      {% include "components/signup_form.html" %}
      {% include "components/recent_interviews.html" %}
      {% include "components/signup_form.html" %}
    </div>
{% endblock %}
