{% extends "components/main_template.html" %}
{% import "components/interview_list.html" as interview_list %}

{% block content %}
    <!-- Hero -->
    <div class="title--image title--image--interviews">
      <div class="content">
        <div class="section section--title">
          <h1 class="h1 h1--title">Articles</h1>
        </div>
      </div>
    </div>

    <div class="content">   

      <div class="section section--interviews">
        <h3 class="h3 section__title">Recent Articles</h3>
        {{ interview_list.interview_list(global.postOrder, global, pathToRoot, false) }}
      </div>

      {% include "components/signup_form.html" %}
    </div>
{% endblock %}
