{% extends "components/main_template.html" %}
{% import "components/interview_list.html" as interview_list %}

{% block content %}
    <!-- Hero -->
    <div class="hero--image">
      <div class="content">

        <!-- Copy -->
        <div id="hero" class="section section--hero">
          <h1 class="h1 h1--title">Feel alone as a Christian in business?</h1>
          <p class="section--hero__tagline">There are others facing the same challenges you are &mdash; subscribe to get their stories</p>
        </div>

        <!-- Signup Form -->
        <div id="mc_embed_signup">
          <form action="//marketplacedisciples.us15.list-manage.com/subscribe/post?u=c0d2563290c383ffe17cc1a0b&amp;id=5152f6cbd0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_c0d2563290c383ffe17cc1a0b_5152f6cbd0" tabindex="-1" value="">
              </div>
              <div class="clear">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
              </div>
            </div>
          </form>
        </div>

        <div class="section--hero__spacer"></div>
      </div>
    </div>
    <div class="content">
      <div class="section section--interviews">
        <h3 class="h3 section__title">Latest Articles</h3>
        {{ interview_list.interview_list(global.latest, global, pathToRoot, false) }}
      </div>
      
      <p>
        <a class="link" href="articles.html">See more articles</a>
      </p>

      {% include "components/signup_form.html" %}
    </div>
{% endblock %}
