{% extends "components/main_template.html" %}
{% import "components/interview_list.html" as interview_list %}

{% block content %}
    <!-- Hero -->
    <div class="hero--image">
      <div class="content">
          <div id="hero" class="section section--hero">
            <h1 class="h1 h1--title">Marketplace Disciples</h1>
            <p class="section--hero__tagline">Interviews with Christian leaders in business</p>
          </div>
      </div>
    </div>

    <div class="content">
      {% include "components/signup_form.html" %}

      <div class="section section--interviews">
        <h3 class="h3 section__title">Most popular interviews</h3>
        {{ interview_list.interview_list(global.popularInterviews, global, pathToRoot, true) }}
      </div>

      <div class="section section--interviews">
        <h3 class="h3 section__title">Recent Interviews</h3>
        {{ interview_list.interview_list(global.latest, global, pathToRoot, true) }}
      </div>

      {% include "components/signup_form.html" %}
    </div>
{% endblock %}
