{% extends "components/main_template.html" %}

{% block content %}
    <!-- Hero -->
    <div class="hero--image">
      <div class="content">
          <div id="hero" class="section section--hero">
            <h1 class="h1 h1--title">Marketplace Disciples</h1>
            <p class="section--hero__tagline">Interviews with Christian leaders in business</p>
          </div>
      </div>
    </div>

    <div class="content">
      <div id="benefits" class="section section--benefits">
        <h4 class="h4 card__title">Who is a Marketplace Disciple?</h4>
        <p class="card__summary">Any Christian that wants to learn more about how faith and business work together for God's kingdom.</p>
      </div>
      
      {% include "components/recent_interviews.html" %}
      {% include "components/signup_form.html" %}

    </div>
{% endblock %}
