{% extends "components/main_template.html" %}

{% block content %}
    <div class="content">
      <div class="section section--title">
        <h1 class="h1 h1--title">Moving Forward in Faith &mdash; Even When You Aren't Ready</h1>
        <h2 class="h2 h2--sub-title">with Melissa Mather</h2>
      </div>

      <article class="section section--article">
        <p>Melissa Mather is a business coach who lives in southern Ontario. A few years ago she started a tutoring business, and as that took off she realized she had a talent for business, and a passion for empowering women entrepreneurs.</p>

        <p>In this interview, Melissa discusses the tension between having confidence in your own abilities, and relying on God to work through you. She shares her thoughts on how Christian business owners should think about profit, and also tells a story of how she decided to step out in faith, even though she didn’t feel ready for God’s plan for her.</p>

        <div class="article__divider"></div>

        <h4 class="h4 h4--question">What is your business?</h4>

        <p>As a business success coach, I help dynamic women share their message, develop an unshakable mindset, and turn their big ideas into an impactful business.</p>

        <p>I help women see themselves as the successful entrepreneurs they aspire to be. I help them ditch their self doubt, overcome fears of taking risks and becoming visible, and help calm their overwhelm as they build their dream business.</p>

        <p>A lot of times, the skills are there, but our mind tries to keep us where we are. The entrepreneurial journey can be quite isolating and scary - so it’s all about inspiring clarity, confidence, and taking risks outside of our comfort zones.</p>

        <p>Often the pot is almost boiling, and it just takes that extra push to really get going.</p>

        <p>My clients often come to me with passion, drive, and determination to get their business off the ground. They are dreamers with big ideas, and they want a roadmap to get there. I help my clients believe in themselves, so their future clients will believe in them.</p>

        <p>I help specifically with the nuts and bolts of websites and sales funnels, as well as time management, social media presence, and online marketing.</p>

        <p>I’ve connected with women who primarily run online service based businesses (other coaches - life coaches, wellness coaches, business coaches, confidence and mindset coaches, financial empowerment coaches), as well as social media strategists, real estate & travel agents.</p>

        <p>I really want to help women feel like they have hope and they don’t have to feel stuck for a minute longer. I’m consistent in sharing the message that anything is possible, and you are capable of more than you think!</p>

        <p>Napoleon Hill: “Whatever the mind can conceive and believe, it can achieve.”</p>

        <div class="article__quote">
          <div class="article__divider article__divider--small"></div>
          <p>I’ve learned that while I would love to feel 100% ready for what God has in mind for me, I will never truly feel ready.  There’s never a perfect time for anything. The good news, is that I can rely on God to provide and support me during times when I do feel fearful or afraid</p>
          <div class="article__divider article__divider--small"></div>
        </div>

        <h4 class="h4 h4--question">What is it that matters most to you? What matters most to the women you work with?</h4>

        <p>To answer this question, it all comes down to CORE VALUES. For me, my core values are Family, Faith, and Freedom. For me, what matters most is the flexibility to spend time with my family, so I can raise my kids in a God-honoring way.  The reason why I went into business was to teach, inspire, mentor, and make an impact, on my own terms, without sacrificing my family life.</p>

        <p>I think “having it all” means having the freedom and flexibility to choose.  I’ve developed an energized rhythm throughout the day so I’m not burning out with work, but maximizing the time I do have.</p>

        <p>What matters most to the women I work with varies, but I’ve noticed themes: family, freedom, faith, purpose, confidence, fun, and adventure.  Some women have goals to leave their 9-5, “retire” their husbands, stay home with their kids, or travel the world.</p>

        <h4 class="h4 h4--question">How did you get started?</h4>

        <p>Before my kids were born, (four years ago) I was a classroom teacher, supply teaching and doing LTOs. I taught grade 8 for a year in Oakville.  Like many teachers in Ontario, I craved impact and a full time permanent position.</p>

        <p>However, the long wait to find my own classroom, in addition to my commute and education politics, left me wanting more fulfillment and impact.  There was a missing piece in my career; I was living in the “safe” zone of classroom teaching and I just knew there was a whole world outside of the classroom available to me.</p>

        <p>When my son was young, I decided to start tutoring out of my home.  Within months I became fully booked and soon after, my husband and I expanded the business to serve more families in Kitchener Waterloo.  We teamed up with other Ontario Certified Teachers and created Tutor-Link, where we connect families with teachers.</p>

        <p>As I operated this business, I again felt pulled towards more.  I wanted to empower and inspire women specifically to step out of their safety net, and find fulfilling, flexible work, so they had options in their career, too. I desired to make a lasting impact on the lives of women.</p>

        <p>I also loved the business side of my tutoring business and realized that I can create a business that uses my favourite skills. I saw capable, incredible women not maximizing their potential and skills - and I felt this burning desire to help them. </p>

        <h4 class="h4 h4--question">What are some ways in which you run your business differently than someone who is not a believer?</h4>

        <p>Within this space it can be easy to lose focus on the Lord. Sometimes I find myself getting caught up in making my business “successful” and doing all the right things.  So one way I run my business differently than a non-believer is realizing that it’s not all about “my message”, and about “me”, and “branding myself”.  It’s about presenting myself in a way that’s in alignment with God’s message, and who He wants me to be.  The minute I try to be like everyone else, I get lost in the crowd and become self serving.  Instead of asking myself “what do I need to do” to be successful, a better question is, “who do I need to be?”.</p>

        <p>Part of my story is being a Christian - so I’m ok with sharing scripture as part of my marketing and message. I’m always an “open book” with potential clients - I will share scripture on Instagram or Facebook, and tie my faith in with my business in that way.  I hope that coaching can be a space and opportunity to make a lasting impact on women’s lives as I share my faith with them. </p>

        <p>Many leading entrepreneurs spread the message that “I am enough”. But I’m not enough. I’m perfect in Jesus’ eyes, but I know I’m imperfect. Because of Jesus’ grace and sacrifice for me I’m made perfect through Him, but I’m imperfect as a human. Because of Jesus’ promise, I don’t need to rely on myself. I’m a child of God and can rely on God the Father, and His word for strength and wisdom.</p>

        <p>2 Corinthians 12:9 says: But he said to me, “My grace is sufficient for you, for my power is made perfect in weakness.” Therefore I will boast all the more gladly of my weaknesses, so that the power of Christ may rest upon me.</p>

        <h4 class="h4 h4--question">Earlier you quoted Napoleon Hill, who said, “Whatever the mind can conceive and believe, it can achieve.” How do you think this fits with 2 Corinthians 12:9?</h4>

        <p>This is such a great question, and it doesn't come with a straightforward answer.</p>

        <p>Obviously God’s purpose is not for me to be rich (as an end in and of itself).</p>

        <p>What I do know, is that God will give me the exact amount of time and resources as I need to complete God’s will for my life. The key difference, is knowing that everything we’re doing here on earth is temporary. God works in treasures in heaven. God equips me to have patience, insight, courage, in some cases, he may give more money in order to complete some mission he wants done.  It’s not about glorifying myself - it’s about glorifying him.</p>

        <p>The main advantage that I, as a Christian entrepreneur, have over a non believing entrepreneur, is the assurance that I have a God-given mission to do, and my business is part of it.</p>

        <p>I believe what Napoleon Hill is saying is that persistence is key.</p>

        <p>Right now, in this season of my life, God’s planted this thought and desire in my heart to impact women’s lives through business coaching.  He’s provided me with this opportunity to raise my family, while doing meaningful work in the world. This is my WHY - the  reason for me to wake up in the morning.  So I will persist and believe that I will be successful through my business.  This being said, I need to continue to listen to the Holy Spirit if God is calling me to something new.</p>

        <h4 class="h4 h4--question">Tell me about an interesting problem that your business faces today.</h4>

        <p>The online entrepreneurial space can be harsh; because it’s “online” sometimes people forget that it’s real people posting!  For me, it’s been all about making sure I’m surrounding myself with like minded individuals, and connecting with others who understand and resonate with my message.</p>

        <p>Because of this, it takes intentionality to find other believers in the online space, and I’ve made this a priority.  This was important so I could form my own message, and connect with women who understand my message, story, and who resonate with a Christian voice.</p>

        <p>Personally, I worked with a Christian business coach, and now formed a Mastermind group with 3 other women who are also believers. These communities of incredible women have helped me stay centred on what matters most as I build my business, and has allowed me to stay focused on growing my business in a way that’s pleasing to God and in alignment with his purpose.</p>

        <h4 class="h4 h4--question">Have you ever seen a conflict between serving profits and serving God in your business? If so, how have you dealt with this?</h4>

        <p>Yes - totally.</p>

        <p>There’s a lot of talk about making money online that’s not in alignment with what I believe, and a Christian voice is sometimes missing in this space. There’s the belief that abundance is everywhere, and you just need to claim it for yourself.</p>

        <p>As a Christian Entrepreneur there’s also a lot of confusion around making money and profits, including a fear that making money isn’t “Christian”. So questions come up like, “Am I allowed to make a lot of money?  Am I allowed to be successful as a believer? Am I allowed to spend money on myself to be better at my business?”</p>

        <p>To deal with this conflict, I turn to the Bible to hear God’s truth.</p>

        <p>God tells us that abundance is about trusting in Him, giving up control, and taking purposeful action to make it happen. Through Him and His grace, we can live abundantly. I believe that when we’re obedient to following God’s calling for our lives, that God will provide for us abundantly.</p>

        <p>I know that God has provided generously for me and my family even when I didn’t think we could pay the bills. God has always provided in miraculous ways.</p>

        <p>Matthew 6 says: “Therefore I tell you, do not worry about your life … but seek first his kingdom and his righteousness, and all these things will be given to you as well.” </p>

        <p>Through God’s promise and sacrifice on the cross, I’m able to live with an eternal purpose in mind. Because of this beautiful promise, I know that I can have peace through my journey and in my struggle.</p>

        <h4 class="h4 h4--question">Is there a time when you really had to rely on God for something? When you have had to make a “leap of faith”?</h4>

        <p>Absolutely.</p>

        <p>Daily, I struggle with some form of fear.</p>

        <p>As an entrepreneur especially, but even in daily life, it’s important to do things that “scare” you - so you’re able to grow. For example, it’s not easy for me (as an introvert) to get on a Skype call with someone I’ve never met, do live videos on social media, or “pitch” my programs. But God has equipped me to do this, and he’s provided the strength and courage to execute on the things I need to do!</p>

        <p>I’ve learned that while I would love to feel 100% “ready” for what God has in mind for me, I will never truly feel ready.  There’s never a “perfect” time for anything. The good news, is that I can rely on God to provide and support me during times when I do feel fearful or afraid. Remembering that growth, not perfection is the ultimate goal, has helped me take huge leaps of faith. </p>

        {% include "components/signup_form.html" %}

        <p>Specifically, I sometimes feel unequipped, unqualified and not up to the task for this calling that God has placed on my heart.</p>

        <p>Initially when I decided to start my coaching business, it was exciting, but really scary!</p>

        <p>I did take a leap of faith because I was essentially leaving my teaching career behind. Teaching is such a secure and impactful position - and yet I was being called to partner with women in this new way.  I believe God placed me here for a reason, provided my coach, and paved the way for me.</p>

        <p>God tells us to not be fearful, but to be strong and courageous. 2 Timothy 1:7 says, “God has not given us a spirit of fear and timidity, but of power, love, and self-discipline.”</p>

        <p>Finally, I feel at times overwhelmed at how big a calling and impact this is.  I’ve been given the opportunity to work intimately with women and impact their lives.  God tells us that He will fill in the gaps and give me strength and wisdom:  “I can do all things through him who strengthens me” (Philippians 4:13).</p>

        <p>Because God is on my side, I know that the Holy Spirit will give me the words to say, and the wisdom I need.  The Holy Spirit is like my own personalized “coach” who is constantly reminding me that I can do this.</p>

        <div class="article__divider"></div>

        <div class="article__conclusion">
            <p>If you want to get in touch with Melissa, you can find her at <a class="link" href="http://www.melissamather.guru">www.melissamather.guru</a>, or on Facebook at <a class="link" href="http://www.facebook.com/groups/dynamicdreamersisterhood">The Dynamic Dreamer Sisterhood</a>.</p>
        </div>

      </article>

      <div class="section section--interviews">
        <h3 class="h3 section__title">Other Interviews</h3>

        {% include "components/interview_list.html" %}
    </div>
{% endblock %}
