{% extends "components/main_template.html" %}
{% import "components/interview_list.html" as interview_list %}
{% import "components/resource.html" as resource_card %}

{% block content %}
    <!-- Hero -->
    <div class="hero--image hero--image--share-your-story">
      <div class="content">
        <div class="section section--title">
          <h1 class="h1 h1--title">Resources</h1>
        </div>
      </div>
    </div>

    <div class="content">
      <article class="section section--article">
        <p>
          I have spent countless hours searching online for the best sites related to Christianity and business.
        </p>
        <p>
          So instead of wading through hundreds of links and websites like I have, I thought I would just give you a list of the best ones I have found so far!
        </p>
        <p>
          If you have anything you'd like to add to this list, please <a href="about.html" class="link">send it my way</a>.
        </p>
        <div class="article__note"><em><strong>Note: </strong>This list will be updated periodically!</em></div>
        <h4 class="h4">Table of Contents</h3>
        <ul>
          {% for category in global.resourceCategories %}
            <li><a href="#{{ category }}" class="link">{{ category | title }} ({{ global.resources[category].length }})</a></li>
          {% endfor %}
        </ul>

        <div class="article__divider"></div>

        {% for category in global.resourceCategories %}
          <h3 class="h3" id="{{ category }}">{{ category | title }}</h3>

          {% if category === 'books' %}
          <p>All of these books are recommended by interviewees, with descriptions taken from Amazon.</p>
          {% endif %}

          {% for resource in global.resources[category] %}
            {{ resource_card.resource_card(resource.title, resource.author, resource.url, resource.summary) }}
          {% endfor %}
        {% endfor %}

      </article>

      {% include "components/signup_form.html" %}

      <div class="section section--interviews">
        <h3 class="h3 section__title">Recent Interviews</h3>
        <p>
          A new interview is published every 2 weeks!
        </p>
        {{ interview_list.interview_list(global.latest, global, pathToRoot) }}
      </div>
    </div>
{% endblock %}
