$base-font: 18px;
$font-family: 'Merriweather', sans-serif;
$rhythm: $base-font * 1.8;
$gutter: $rhythm;

$max-content-width: 700px;

// Color palette
$primary: #0f3248;
$primary-light: #224962;
$primary-lighter: #3C627A;
$primary-dark: darken(saturate($primary, 5%), 3%);

$secondary: #0C4E2E;
$accent: #d9bb26;
$accent-dark: darken(saturate($accent, 10%), 10%);
$accent-darkest: darken(saturate($accent, 10%), 25%);
$accent-light: lighten(desaturate($accent, 5%), 15%);

$accent-secondary: #DDA0DD;

$body-text: rgba(#e7ebed, 0.9);
$body-text-dark: saturate(darken($body-text, 45%), 10%);

@import url('https://fonts.googleapis.com/css?family=Rambla:400,700|Merriweather:300,300i,900');

body, html {
	font-size: $base-font;
	font-family: $font-family;
	line-height: $rhythm;
  background: $primary;
  color: $body-text;
	padding: 0;
	margin: 0;
  overflow-anchor: none;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 0 0 0;
  margin: 0;
}

body * {
	box-sizing: border-box;
	outline: none;
}

input {
	font-family: $font-family;
	font-size: $base-font;
	height: $rhythm * 1.3;
	border-radius: 2px;
	padding: 5px 10px;
	margin: $rhythm * 0.5 0;
}

input[type=email] {
	width: 100%;
  margin-bottom: 0;
  border: none;
  font-family: 'Rambla', sans-serif;
  border-bottom: 3px solid $body-text-dark;
  background: $body-text;
  color: $primary-light;
  &::-moz-placeholder,
  &::-ms-placeholder,
  &::-webkit-placeholder,
  &::placeholder {
    color: $body-text-dark !important;
  }
}

input[type=submit] {
	background: $accent;
	color: rgba(0,0,0,0.6);
	padding: 5px 40px;
	border: none;
	cursor: pointer;
  font-family: 'Rambla', sans-serif;
  font-weight: 700;
  font-size: $base-font * 1.1;
  box-shadow:
    1px 1px 0px $accent-dark,
    2px 2px 0px $accent-dark,
    0 5px 10px rgba(0,0,0,0.2);
  -webkit-appearance: none;
}

/**
 * Typography
 */
.h1, .h2, .h3, .h4, .h5 {
	margin: 0;
	padding: 0;
  font-family: 'Rambla', sans-serif;
  font-weight: 700;
}

.h1 {
	font-size: $base-font * 2;
	line-height: $rhythm * 1.4;
}

.h1--title {
  color: $body-text;
  font-size: $rhythm * 0.8;
  line-height: $rhythm;
}

.h1--nav-brand {
  display: inline-block;
  position: fixed;
  font-size: $base-font * 1.2;
  font-weight: bold;
  line-height: 50px;
  color: $body-text;
  top: 2px;
  left: 1em;
  z-index: 100;
}

.h2 {
	font-size: $base-font * 1.5;
	line-height: $rhythm * 1.4;
}

.h2--title {
	text-align: center;
}

.h2--sub-title {
  color: rgba($body-text, 0.7);
  font-weight: 400;
  font-size: $base-font * 1;
}

.h3 {
	font-size: $base-font * 1.7;
	font-weight: 400;
  line-height: $rhythm * 1.3;
  padding-bottom: $rhythm;

  &:not(:first-child) {
    padding-top: $rhythm;
  }
}

.interview .h3 {
  margin-top: $rhythm * 2;
}

.h4, .h4 a {
  font-size: $base-font * 1.6;
  font-weight: bold;
  line-height: $rhythm * 1.2;
  color: $body-text;
  text-decoration: none;
  padding: 0 0 $rhythm / 2 0;

  &:not(:first-child) {
    margin-top: $rhythm * 2.5;
  }
}

.h5 {
  font-size: $base-font * 1.2;
  font-weight: bold;
  line-height: $rhythm;
  margin: $rhythm 0 $rhythm / 3 0;
}

p {
	margin: 0;
	& + p {
    padding: $rhythm 0 0 0;
  }
}

.link {
	font-size: $base-font;
	line-height: $rhythm;
  color: $body-text;
  text-decoration: none;
  border-bottom: 1px solid currentColor;

	&--accent {
		color: $accent;
	}
}

.underline {
  border-bottom: solid $accent;
}

/**
 * Components
 */
.content {
  z-index: 1;
  width: 100%;
  padding: 0 1em;
}

ul, ol {
	padding: 0;
  margin: 0 0 0 0.5em;
  
  li {
    margin-left: 1em;
  }
}

footer {
	display: flex;
	width: 100%;
	background: $primary-dark;
  padding: 1em 1em 2em 1em;
  
  ul {
    list-style: none;
    margin: 0;

    li {
      margin: 0;
    }
  }

	.footer-container {
		display: flex;
		align-items: flex-start;
		flex-direction: column-reverse;
		max-width: $max-content-width;
	}

	h3 {
		margin: 0;
	}

	.footer-section {
	}

	.footer-section--cta {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.footer-section div {
		margin-bottom: 1em;
	}

	&, .link, h3 {
		font-family: 'Rambla';
	}

	&, .link {
		font-size: 0.9em;
		color: saturate(darken($body-text, 10%), 10%);
	}

	.link {
		border-bottom: none;
		text-decoration: underline;
	}
}

.social-media-logo {
  width: 25px;
  height: 25px;
  margin-bottom: -6px;
  margin-right: 5px;
}

.nav {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  background: $primary-light;
  // box-shadow: 0 0 30px rgba(0,0,0,0.5);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.nav__link-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  // height: 100%;
  margin: 0;
  padding: 50px 0;

  a {
    text-decoration: none;
  }
}

.nav__list-item {
  color: $primary-light;
  padding: 1rem 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Rambla', sans-serif;
  font-size: $base-font * 2;
  font-weight: 700;
  width: 100%;
  height: 100%;
}

.nav__menu-toggle {
  position: fixed;
  top: 11px;
  right: 1em;
  z-index: 99;
  font-family: 'Rambla', sans-serif;
  font-weight: 700;
}

.nav__header {
  display: none;
}

.nav__header-item {
  color: $body-text;
  text-decoration: none;
  font-size: $base-font * 1;
  font-family: 'Rambla', sans-serif;
  font-weight: bold;
  margin-left: $rhythm;

  &:hover {
  }
}

.nav__header-item--accent {
  color: $accent;
}

// Don't display the menu checkbox
#menu-toggle {
  display: none;
}

.menu-overlay {
  display: flex;
  flex-direction: column;
  color: $primary-light;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: $body-text;
  background-image: linear-gradient(
    -160deg,
    $body-text,
    #859ead
  );
  overflow: hidden;
  z-index: 99;
  transform: scale(0.8);
  transition: all 0.1s ease-out;
}

.menu-overlay__footer {
  display: flex;
  justify-content: center;
  margin: $rhythm auto;
}

#menu-toggle:checked ~ .menu-overlay {
  opacity: 100;
  pointer-events: auto;
  transition: all 0.2s ease-out;
  transform: scale(1);
}

.section {
	margin: $rhythm 0;
	width: 100%;
	max-width: $max-content-width;
}

.section--title {
  margin: $rhythm * 0.8 0;
}

.section__title {
  padding-bottom: $rhythm / 2;
}

.section--benefits {
  margin-bottom: $rhythm * 2;
}

.section--hero {
  padding: 10px 0 0 0;
  text-align: center;

  &__spacer {
    height: 20vh;
    width: 100%;
  }

  .h1--title {
    font-size: $base-font * 2;
    line-height: $base-font * 2.3;
  }

  &__tagline {
    padding-top: $rhythm * 0.8;
    font-size: $base-font * 1.4;
    font-family: 'Rambla', sans-serif;
  }

  &__seen-in {
    display: none;
  }
}

.hero--image {
  margin-left: -1.5em;
  margin-right: -1.5em;
  width: 100vw;
  height: calc(100vh - 50px);
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;

  #mc_embed_signup {
    width: 100%;
    max-width: 700px;
  }

  #mc_embed_signup_scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content {
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &--interviews {
    background-image: url("../img/banner_6.jpg");
    background-position: center;
  }

  &--about {
    background-image: url("../img/banner_2.jpg");
    background-position: center;
  }

  &--share-your-story {
    background-image: url("../img/banner_3.jpg");
    background-position: bottom;
  }
}

.title--image {
  margin-left: -1.5em;
  margin-right: -1.5em;
  width: 100%;
  background-size: cover;
  background-position: center;

  .content {
    display: flex;
    justify-content: center;
  }

  &--interviews {
    background-image: url("../img/banner_6.jpg");
  }

  &--about {
    background-image: url("../img/banner_2.jpg");
  }

  &--share-your-story {
    background-image: url("../img/banner_3.jpg");
    background-position: bottom;
  }
}

.section--benefits .card {
  background: none;

  &:nth-child(even) {
    text-align: right;
  }
}

.section--interviews__interviews {
	display: flex;
  flex-direction: column;
  
  p + & {
    margin-top: $rhythm / 2;
  }
}

.section--signup,
.section--signup .clear {
  display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.section--signup {
  margin: $rhythm * 2 0;

  .card {
    width: calc(100% + 0.7em);
    padding: 1.5em; 
  }

  label {
    font-family: 'Rambla';
    font-size: $base-font * 1.4;
    font-weight: bold;
  }

  p {
    padding-top: $rhythm / 2;
  }
}

.section--signup #mc_embed_signup {
	width: 100%;
}

.img {
  display: block;
  object-fit: cover;
  margin: 0 0 $rhythm auto;
  width: 100%;

  &:first-child {
    margin: $rhythm auto;
  }

  &--full-width {
    width: 100%;
    max-height: 200px;
  }

  &--top {
    object-position: top;
  }

  &--bottom {
    object-position: bottom;
  }
}

.article__quote {
  padding: $rhythm * 3/2 0 $rhythm * 3 / 2 $rhythm/2;

  p {
    margin: 0;
    padding: 0 1em 0 0;
    font-family: 'Rambla', sans-serif;
    font-size: 1.8em;
    text-align: right;
    line-height: 1.2em;
    border-right: 5px solid $accent;
  }
}

.article__anchor {
  position: relative;
  top: -130px;
}

.article__note {
  background: rgba($primary-light, 0.5);
  padding: $rhythm / 2;
  margin-top: $rhythm;
}

.article__conclusion {
  padding-top: $rhythm;
}

.article__divider {
  margin: $rhythm * 2 auto;
  height: 3px;
  background: $body-text;
  background-image: linear-gradient(
    10deg,
    rgba($primary-lighter, 0.8),
    $body-text
  );
  width: 150px;
  z-index: 1;

  &--small {
    width: 80px;

    &:last-child {
      margin: $rhythm auto $rhythm * 2 auto;
    }

    &:first-child {
      margin: $rhythm * 2 auto $rhythm auto;
    }
  }
}

.card {
	margin: 0 -0.5em $rhythm -0.5em;
  padding: 1em 1em 1.3em 1em;
  border-radius: 2px;
  background: rgba($primary-light, 0.5);

  .h5 {
    font-size: $base-font * 1.1;
    line-height: $rhythm;
    font-weight: 400;
    padding: 0;
    margin: 0.5em 0 0 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.card--inverted {
  background: lighten($body-text, 10);
  color: $primary-light;
}

.card--no-bg {
  background: none;
}

.card--centered {
  text-align: center;
}

.card--left {
  text-align: left;
}

.card--right {
  text-align: right;
}

.card__title,
.card__title a {
  padding: 0;
  margin-top: 0;
}

.card__summary {
	padding-bottom: 0;
  margin-top: $rhythm;
}

.sub-header {
  display: flex;
  flex-direction: column;
  color: rgba($body-text, 0.7);
}

.card__link {
  display: inline-block;
  line-height: calc(#{$base-font} + 8px);
  margin-top: $rhythm;
}

/**
 * Responsive!
 */
@media (min-width: 375px) {
  .sub-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .section--hero {
    padding: $rhythm * 1.2 0;
  }
}

@media (min-width: 500px) {
  .img {
    &--full-width {
      max-height: 300px;
    }
  }
}

@media (min-width: 750px) {
  .content {
    width: inherit;
  }

  .img {   
    &--full-width {
      max-height: 300px;
    }
  }

	footer {
		justify-content: center;

		.footer-container {
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-around;
			width: $max-content-width;
		}

		.footer-section + .footer-section {
			margin-top: 0;
			margin-left: 4em;
		}

		.link {
			text-decoration: none;
			line-height: 1.5em;
		}
	}

  input[type=submit] {
    background: $accent;
    transition: background 0.2s ease-in-out;
    transform: translateY(0);
    margin-bottom: 0;

    &:hover {
      background: $accent-light;
    }

    &:active {
      transform: translateY(1px);
    }
  }

  ul, ol {
    margin: 0 0 0 1em;
  }

  .section--title {
    margin: 3vw 0;
  }

  .h1--title {
    font-size: 4.5vw;
    line-height: 5.5vw;
  }

  .section--hero {
    padding: $rhythm * 2 0;

    &__tagline {
      font-size: 3.5vw;
      line-height: 3.5vw;
    }

    &__seen-in {
      display: initial;

      .logos {
        display: flex;
        justify-content: space-between;
      }

      img {
        padding: 1em;
        width: 150px;
        height: auto;
      }
    }
  }

  .hero--image {
    height: calc(100vh - 50px);
  }

  .article__quote {
    padding: $rhythm * 3/2 0 $rhythm * 2 $rhythm * 4;
  }

  .h2--sub-title {
    font-size: $base-font * 1.2;
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    z-index: 99;
  }

  .nav__content {
    width: 700px;
    margin: 0 auto;
    height: 100%;
    z-index: 99;
  }

  .nav__header {
    display: flex;
  }

  .nav__header-item {
    transition: color 0.1s ease;

    &:hover {
      color: $accent;
    }
  }

  .nav__menu-toggle,
  .h1--nav-brand {
    position: static;
    cursor: pointer;
  }

  .nav__menu-toggle {
    // float: right;
    // line-height: 50px;
    display: none;
  }

  .nav__link-list {
    justify-content: center;
  }

  .nav__menu-toggle--overlay {
    position: absolute;
    left: 1em;
    width: 10px;
    top: 0;
  }

  .nav__list-item {
    padding: 2em 0;
    transition: background 0.2s ease-in-out;

    &:hover {
      background: rgba(255,255,255,0.2);
    }
  }

  .menu-overlay {
    pointer-events: auto;
    width: 500px;
    right: -500px;
    opacity: 0;
    box-shadow: 0 0 100px rgba(0,0,0,0.5);
    transform: none;
  }

  #menu-toggle:checked ~ .menu-overlay {
    transform: none;
    right: 0;
    transition: all 0.2s ease-in-out;
    opacity: 100;
  }

  .link {
    position: relative;
    border-bottom: none;

    &::after, &::before  {
      position: absolute;
      bottom: 0;
      content: '';
      height: 1px;
      transition: width 0.15s ease-out;
    }

    &::after {
      left: 0;
      width: 0%;
      background: $accent;
    }

    &::before {
      right: 0;
      width: 100%;
      background: currentColor;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

@media (min-width: 1000px) {
	.h1--title {
    font-size: 45px;
    line-height: 55px;
	}

  .section--title {
    margin: 30px 0;
  }

  .section--hero {
    max-width: 850px;

    .h1--title {
      font-size: $base-font * 3;
      line-height: $base-font * 3.3;
    }

    &__tagline {
      font-size: 35px;
      line-height: 50px;
    }
  }
}
