$base-font: 18px;
$font-family: sans-serif;
$rhythm: $base-font * 1.6;
$gutter: $rhythm;

body, html {
	font-size: $base-font;
	font-family: $font-family;
	line-height: $rhythm;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 0.5em;
  margin-top: 50px;
}

body * {
	box-sizing: border-box;
	outline: none;
}

input {
	font-family: $font-family;
	font-size: $base-font;
	line-height: $rhythm;
	border-radius: 2px;
	padding: 5px 10px;
	margin: $rhythm * 0.5 0;
}

input[type=email] {
	width: 100%;
	margin-bottom: 0;
	border: 1px solid darkgray;
}

input[type=submit] {
	background: gray;
	color: white;
	padding: 5px 20px;
	border: none;
	cursor: pointer;
}

/**
 * Typography
 */
.h1, .h2, .h3, .h4, .h5 {
	margin: 0;
	padding: 0;
}

.h1 {
	font-size: $base-font * 2.3;
	line-height: $rhythm * 1.7;
}

.h1--title {
	padding-bottom: $rhythm * 0.5;
	text-align: center;
}

.h1--nav-brand {
  display: inline-block;
  // display: none;
  position: fixed;
  font-size: $base-font;
  font-weight: bold;
  top: 2px;
  left: 0.5em;
  z-index: 100;
}

.h2 {
	font-size: $base-font * 2;
	line-height: $rhythm * 1.7;
}

.h2--title {
	text-align: center;
}

.h3 {
	font-size: $base-font * 1.5;
	font-weight: normal;
	line-height: $rhythm * 1.5;
}

.h4 {
	font-size: $base-font;
	font-weight: bold;
	line-height: $rhythm * 1;
	padding: ($rhythm * 0.5) 0 ($rhythm * 0.5) 0;
}

p {
	margin: 0;
	padding: 0 0 $rhythm 0;
}

.link {
	font-size: $base-font;
	line-height: $rhythm;
}

/**
 * Components
 */
.nav {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  background: white;
  padding: 0 0.5em;
  border-bottom: 1px solid gray;
}

.nav__link-list {
  // display: inline-block;
  display: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav__list-item {
  padding: 1em;
  list-style: none;
  float: right;
}

.nav__menu-toggle {
  position: fixed;
  top: 12px;
  right: 0.5em;
  z-index: 100;
}

// Don't display the menu checkbox
#menu-toggle {
  display: none;
}

.menu-overlay {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #DDD;
  overflow: hidden;
  z-index: 99;
}

#menu-toggle:checked ~ .menu-overlay {
  opacity: 100;
  pointer-events: auto;
  transition: opacity 0.1s ease-out;
}

#menu-toggle:checked ~ .content {
  overflow: hidden;
}

.section {
	margin: $rhythm 0;
	width: 100%;
	max-width: 700px;
}

.section__title {
	padding-bottom: $rhythm;
}

.section--hero {
	padding: 0;
}

.section--hero__tagline {
	padding-top: $rhythm * 0.5;
	text-align: center;
	font-size: $base-font * 1.2;
}

.section--interviews__interviews {
	display: flex;
	flex-direction: column;
}

.section--signup,
.section--signup .clear {
	display: flex;
	font-family: $font-family;
	font-size: $base-font * 1.2;
	font-weight: bold;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.section--signup #mc_embed_signup {
	width: 100%;
}

.article__quote {
	font-style: italic;
}

.article__divider {
  margin: 2em auto 3em auto;
  height: 1px;
  width: 60%;
  background: #CCC;
}

.card {
	padding: 0 0 ($rhythm * 2) 0;
}

.card__summary {
	padding-bottom: 0;
}

.card__link {
}

/**
 * Responsive!
 */
@media (min-width: 750px) {
	.card {
		padding-bottom: $rhythm * 3;
	}
}


// @media (min-width: 1000px) {
// 	.section {
// 		width: 900px;
// 		width: 80vw;
// 	}

// 	.section--interviews__interviews {
// 		flex-direction: row;
// 		flex-wrap: wrap;
// 	}

// 	.card {
// 		$gutter: 40px;
// 		width: calc(50% - #{$gutter});
// 		margin-right: $gutter;

// 		&:first-of-type {
// 			padding-top: 0;
// 		}
// 	}
// }

// @media (min-width: 1200px) {
// 	.section {
// 		width: 900px;
// 	}
// }









