<footer>
  <div class="footer-container">
    <div class="footer-section">
      <h3>Sitemap</h3>
      <ul>
        <li><a class="link" href="{{ pathToRoot }}index.html">Home</a></li>
        <li><a class="link" href="{{ pathToRoot }}interviews.html">Interviews</a></li>
        <li><a class="link" href="{{ pathToRoot }}about.html">About</a></li>
        <li><a class="link" href="{{ pathToRoot }}share-your-story.html">Share Your Story</a></li>
      </ul>
    </div>
    <div class="footer-section footer-section--cta">
      <div>
        <h3>Are you a business owner?</h3>
        <a class="link link--accent" href="share-your-story.html">
          Share your story
        </a>
      </div>
      <div>
        <h3>Want to get in touch?</h3>
        <a class="link" href="mailto:michael@marketplacedisciples.com">
          michael@marketplacedisciples.com
        </a>
      </div>
    </div>
  </div>
</footer>
