{% extends "components/main_template.html" %}
{% import "components/interview_list.html" as interview_list %}

{% block meta %}
    <meta name="description" content="{{ interview.summary | striptags }}">
    <title>{{ interview.title }} - Marketplace Disciples</title>

    <!-- Facebook meta tags -->
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.marketplacedisciples.com/{{ interview.url }}" />
    <meta property="og:image" content="http://www.marketplacedisciples.com/img/facebook_share.png"/> 
    <meta property="og:title" content="{{ interview.title }}" />
    <meta property="og:description" content="{{ interview.summary | striptags }}" />
{% endblock %}

{% block content %}
    <div class="content">
      <div class="section section--title">
        <h1 class="h1 h1--title">{{ interview.title | safe }}</h1>
        <div class="sub-header">
          <h2 class="h2 h2--sub-title">{{ interview.published }}</h2>
          <h2 class="h2 h2--sub-title">with {{ interview.name | safe }}</h2>
        </div>
      </div>

      <article class="section section--article">
        {% include "../interviews/" + interview.id + ".html" %}

        {% include "components/share_cta.html" %}

        {% include "components/signup_form.html" %}
      </article>

      <div class="section section--interviews">
        <h3 class="h3 section__title">Other Interviews</h3>
        {{ interview_list.interview_list(interview.relatedInterviews, global, pathToRoot) }}
      </div>
    </div>
{% endblock %}
