{% macro interview_card(title, firstname, fullname, url, summary, published, pathToRoot) %}
<div class="card">
  <h4 class="h4 card__title"><a href="{{ pathToRoot }}{{ url }}">{{ title | safe }}</a></h4>
  <div class="sub-header">
    <h5 class="h5">{{ published }}</h5>
    {% if fullname !== undefined %}
      <h5 class="h5">with {{ fullname }}</h5>
    {% endif %}
  </div>
  <p class="card__summary">{{ summary | safe }}</p>
  <a href="{{ pathToRoot }}{{ url }}" class="link card__link">
    {% if fullname !== undefined %}
      Read {{ firstname }}'s interview
    {% else %}
      Read more
    {% endif %}
  </a>
</div>
{% endmacro %}

{% macro interview_list(interviewList, global, pathToRoot, linkToAll) %}
<div class="section--interviews__interviews">
  {% for id in interviewList %}
    {% set i = global.interviews[id] %}
    {{ interview_card(i.title, i.firstname, i.name, i.url, i.summary, i.published, pathToRoot) }}
  {% endfor %}

  {% if linkToAll %}
  <div class="card">
    <a class="link link--accent" href="{{ pathToRoot }}interviews.html">
      All interviews
    </a>
  </div>
  {% endif %}
</div>
{% endmacro %}