{% extends "components/main_template.html" %}
{% import "components/interview_list.html" as interview_list %}

{% block content %}
    <div class="content">
      <div class="section section--title">
        <h1 class="h1 h1--title">{{ interview.title | safe }}</h1>
        <h2 class="h2 h2--sub-title">with {{ interview.name | safe }}</h2>
      </div>

      {{ interview.content | safe }}

      <div class="section section--interviews">
        <h3 class="h3 section__title">Other Interviews</h3>
        {{ interview_list.interview_list(interview.relatedInterviews, global, pathToRoot) }}
      </div>
    </div>
{% endblock %}
