        <div class="section--interviews__interviews">
          <div class="card">
            <h4 class="h4 card__title">When People Are More Important than Profit</h4>
            <h5 class="h5 card__sub-title">with Gayle Goossen</h5>
            <p class="card__summary">Most businesses are run with a focus on profits, often to the detriment of personal relationships. Gayle Goossen however, operates <a class="link" href="http://www.barefootcreative.com/">Barefoot Creative</a> by putting relationships first. Even though our culture prizes money and encourages people to make a quick buck at the expense of others, she stands firm in her faith and uses her business as a platform to love others.</p>
            <a href="when-people-are-more-important-than-profit-gayle-goossen.html" class="link card__link">Read Gayle's Interview</a>
          </div>

          <div class="card">
            <h4 class="h4 card__title">Moving Forward in Faith &mdash; Even When You Aren't Ready</h4>
            <h5 class="h5 card__sub-title">with Melissa Mather</h5>
            <p class="card__summary">Melissa Mather is a business coach who lives in southern Ontario. A few years ago she started a tutoring business, and as that took off she realized she had a talent for business, and a passion for empowering women entrepreneurs.</p>
            <a href="moving-forward-in-faith-even-when-you-arent-ready-melissa-mather.html" class="link card__link">Read Melissa's Interview</a>
          </div>

          <div class="card">
            <p class="card__summary">More interviews coming soon...</p>
          </div>
        </div>