
    <!-- Navigation -->
    <input type="checkbox" id="menu-toggle">
    <div class="nav">
      <div class="nav__content">
        <label for="menu-toggle" class="nav__menu-toggle">Menu</label>
        <a href="{{ pathToRoot }}index.html"><h1 class="h1 h1--nav-brand 3d">Marketplace Disciples</h1></a>
        <div class="nav__header">
          <a class="nav__header-item" href="{{ pathToRoot }}articles.html">Articles</a>
          <a class="nav__header-item" href="{{ pathToRoot }}about.html">About</a>
          <a class="nav__header-item nav__header-item--accent" href="{{ pathToRoot }}share-your-story.html">Share Your Story</a>
        </div>
      </div>
    </div>

    <nav class="menu-overlay">
      <label for="menu-toggle" class="nav__menu-toggle nav__menu-toggle--overlay">&#x2715</label>
      <ul class="nav__link-list">
        <a href="{{ pathToRoot }}index.html"><li class="nav__list-item">Home</li></a>
        <a href="{{ pathToRoot }}articles.html"><li class="nav__list-item">Articles</li></a>
        <a href="{{ pathToRoot }}about.html"><li class="nav__list-item">About</li></a>
        <a href="{{ pathToRoot }}share-your-story.html"><li class="nav__list-item">Share Your Story</li></a>
      </ul>
    </nav>
    <!-- End Navigation -->
