
<div class="article__divider"></div>
<h4 class="h4 h4--question">
	Did you like this
	{% if interview.name !== undefined %}
	interview?
	{% else %}
	article?
	{% endif %}
</h4>
<p>
	{% if interview.name !== undefined %}
		If you enjoyed this interview with {{ interview.name }},
	{% else %}
		If you enjoyed this article,
	{% endif %}
	then please share it! It would mean so much to me.
</p>
<p>
	<img class="social-media-logo" src="{{ pathToRoot }}img/facebook_icon.png">
	<a class="link" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.marketplacedisciples.com/{{ interview.url }}">Share on Facebook</a>
</p>
<p>
	<img class="social-media-logo" src="{{ pathToRoot }}img/twitter_icon.png">
	<a class="link" href="https://twitter.com/home?status=http%3A//marketplacedisciples.com/{{ interview.url }}">Share on Twitter</a>
</p>